body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

input[type="file"],
select,
input[type="number"] {
    margin: 10px 0;
    padding: 10px;
    width: 285px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#rotateFields,
#resizeFields {
    display: none;
}
